In [1]:
from src.Extractor import DataExtractor
from src.Transformer import DataTransformer

In [2]:
mes = "Marzo"
año = 2024

In [3]:
extractor_marzo = DataExtractor(mes, año)

In [4]:
transacciones = extractor_marzo.extraer()

In [5]:
extractor_marzo.movements_cuenta_corriente

,Fecha,Ref,Fecha Valor,Descripción,cargo,abono,Saldo
0,2024-03-01,561,2024-02-29,PAGO BIZUM DE SAMIR RUBEN;AUYA,0.00,7.20,"6.106,28"
1,2024-03-02,847,2024-03-01,RECIBO PLATINUM,25.19,0.00,"6.081,09"
2,2024-03-02,846,2024-03-01,RECIBO PLATINUM,1071.19,0.00,"5.009,90"
3,2024-03-02,824,2024-03-01,PAGO BIZUM A SAMIR RUBEN;AUYAN,26.17,0.00,"4.983,73"
4,2024-03-02,195,2024-03-02,PAGO BIZUM A SAMIR RUBEN;AUYAN,23.00,0.00,"4.960,73"
5,2024-03-06,011,2024-03-06,PAGO BIZUM A ELENA CRUZ;CANCEL,10.00,0.00,"4.950,73"
6,2024-03-08,385,2024-03-08,TRANS /Paula Victoria Moreno F,200.00,0.00,"4.750,73"
7,2024-03-09,204,2024-03-09,PAGO BIZUM DE SAMIR RUBEN;AUYA,0.00,54.00,"4.804,73"
8,2024-03-09,833,2024-03-11,TRANS /Paula Victoria Moreno F,200.00,0.00,"4.604,73"
9,2024-03-12,357,2024-03-12,RECIBO /SIMYO,27.07,0.00,"4.577,66"
10,2024-03-12,843,2024-03-09,CAJERO CASHZONE OF.2393,200.00,0.00,"4.377,66"
11,2024-03-19,689,2024-03-19,TRANS /JOSEFA ROSA DENIZ PÉREZ,560.00,0.00,"3.817,66"
12,2024-03-19,724,2024-03-19,TRANS /Paula Victoria Moreno F,200.00,0.00,"3.617,66"
13,2024-03-25,142,2024-03-25,TRANS /Paula Victoria Moreno F,200.00,0.00,"3.417,66"
14,2024-03-26,30,2024-03-26,TRANSF NOMI /INSTITUTO TECNOLO,0.00,2074.25,"5.491,91"

In [8]:
extractor_marzo.movements_tarjeta

        Fecha                                  Descripción   cargo  abono
0  2024-02-29                       EL MOMENTO, LAS PALMAS    3.50      0
1  2024-02-29                      PINCHO J, LAS PALMAS DE   13.60      0
2  2024-02-29                         HD GUANARTEME, 35010   23.06      0
3  2024-02-29        COM. USO REDES INTERNACION., SAN 0,60    0.56      0
4  2024-02-29       CHATGPT SUBSCRIPTION, SAN FRANCI 20,00   18.53      0
5  2024-03-01                           HD PORTUGAL, 35010    2.64      0
6  2024-03-01                COMPRAVENTA 3B, LAS PALMAS DE    3.00      0
7  2024-03-01                     MEGA HOME, LAS PALMAS DE    4.17      0
8  2024-03-01           PRIMOR MESA Y LOPEZ, LAS PALMAS DE    5.37      0
9  2024-03-01                           IRISH ROVER, 35007    8.00      0
10 2024-03-01                           IRISH ROVER, 35007    8.00      0
11 2024-03-01           APERTURAS LLAVEBANK, LAS PALMAS DE   16.00      0
12 2024-03-03           REST HERMANOS MALOW, SANTA BRIGIDA    4.50      0
13 2024-03-03                   BAZAR PEDRO, SANTA BRIGIDA    5.80      0
14 2024-03-04                      HD SANTA BRIGIDA, 35300    6.02      0
15 2024-03-05                           HD PORTUGAL, 35010    3.51      0
16 2024-03-05                       EL MOMENTO, LAS PALMAS    3.60      0
17 2024-03-05                   CRUNCH IB RICO, LAS PALMAS    4.00      0
18 2024-03-05                  LOS MILAGROS, LAS PALMAS DE    6.30      0
19 2024-03-05                     BAR SALMON, PALMAS (LAS)    6.00      0
20 2024-03-06                       EL MOMENTO, LAS PALMAS    3.60      0
21 2024-03-06              LA CUCHARA SANA SCP, LAS PALMAS    4.32      0
22 2024-03-06                DGT TASAS JEFATURAS 2, MADRID   10.51      0
23 2024-03-06                B.C. LA EMINENCIA, LAS PALMAS   13.20      0
24 2024-03-07                       EL MOMENTO, LAS PALMAS    1.10      0
25 2024-03-07           CHARCUTERIA VENEGAS, PALMAS DE GRA    1.64      0
26 2024-03-07                           HD PORTUGAL, 35010    5.12      0
27 2024-03-07              LA CUCHARA SANA SCP, LAS PALMAS    5.90      0
28 2024-03-08          AREAS REDONDEO S0LIDARIO, BARCELONA    0.20      0
29 2024-03-08                           HD PORTUGAL, 35010    1.82      0
30 2024-03-08                           HD PORTUGAL, 35010    3.17      0
31 2024-03-08                GRUPO BHP 2020, PALMAS DE GRA    3.76      0
32 2024-03-08                   CRUNCH IB RICO, LAS PALMAS    4.30      0
33 2024-03-08             MERCADONA REPUBLICA DOMIN, 35010    6.25      0
34 2024-03-08          LA SUERTE DE GUANARTEME, LAS PALMAS    6.30      0
35 2024-03-08                   PLAYA PADRE, AEROPUERTO GR    8.30      0
36 2024-03-08     DAHIMON PELUQUERIA Y ESTE, LAS PALMAS DE   10.00      0
37 2024-03-08                  LOS MILAGROS, LAS PALMAS DE   17.15      0
38 2024-03-09                   METRO BARCELONA, BARCELONA    5.50      0
39 2024-03-09                   METRO BARCELONA, BARCELONA    5.50      0
40 2024-03-09             NEWREST TRAVEL RETAIL- VU, PALMA   11.00      0
41 2024-03-09                      IATI SEGUROS, BARCELONA  106.31      0
42 2024-03-12  BKG*HOTEL AT BOOKING.C, (888)850 143.650,00    8.46      0
43 2024-03-13  ANUL. BKG*HOTEL AT BOOKING., (88 143.650,00    8.46      0
44 2024-03-14               AGODA.COM FLOWER BUD, INTERNET   18.41      0
45 2024-03-19   Hotel at Booking.com, Amsterdam 558.000,00   32.87      0
46 2024-03-21   Hotel at Booking.com, Amsterdam 559.380,00   32.89      0
47 2024-03-23           PAYPAL *GOOGLE GOOGLE, 35314369001    1.99      0
48 2024-03-26  BKG*HOTEL AT BOOKING.C, (888)850 350.000,00   20.55      0
49 2024-03-23  BKG*HOTEL AT BOOKING.C, (888)850 342.000,00   20.14      0
50 2024-03-24  BKG*HOTEL AT BOOKING.C, (888)850 600.000,00   35.34      0
51 2024-03-29                          INTERESES GENERADOS    0.18      0

In [7]:
transformer_marzo.all_monthly_movements

        Fecha                                  Descripción   cargo    abono
0  2024-02-29       CHATGPT SUBSCRIPTION, SAN FRANCI 20,00   18.53     0.00
1  2024-02-29        COM. USO REDES INTERNACION., SAN 0,60    0.56     0.00
2  2024-02-29                         HD GUANARTEME, 35010   23.06     0.00
3  2024-02-29                      PINCHO J, LAS PALMAS DE   13.60     0.00
4  2024-02-29                       EL MOMENTO, LAS PALMAS    3.50     0.00
..        ...                                          ...     ...      ...
60 2024-03-24  BKG*HOTEL AT BOOKING.C, (888)850 600.000,00   35.34     0.00
61 2024-03-25               TRANS /Paula Victoria Moreno F  200.00     0.00
62 2024-03-26               TRANSF NOMI /INSTITUTO TECNOLO    0.00  2074.25
63 2024-03-26  BKG*HOTEL AT BOOKING.C, (888)850 350.000,00   20.55     0.00
64 2024-03-29                          INTERESES GENERADOS    0.18     0.00

[65 rows x 4 columns]