In [3]:
from src.Extractor import DataExtractor
from src.Transformer import DataTransformer
from src.Dataloader import DataLoader

In [4]:
# EXTRAIDO ENERO FEBRERO MARZO ABRIL MAYO
mes = "Junio"
año = 2024

In [5]:
extractor = DataExtractor(mes, año)
extractor.extraer()

In [6]:
transformer = DataTransformer(extractor)
transformer.save_and_transform()

File /home/paula/Documentos/clasificador_gastos/extractos/Extracto_Junio_2024.csv already exists it will be overwritten

In [9]:
transformer.convert_all_movements_to_dataframe()

        Fecha                              Descripción  cargo  abono
0  2024-05-31   OPENAI *CHATGPT SUBSCR, SAN FRAN 20,00  18.54    0.0
1  2024-05-31            FARMACIA EL CAMINO, LA LAGUNA   9.52    0.0
2  2024-05-31    COM. USO REDES INTERNACION., SAN 0,60   0.56    0.0
3  2024-06-02     MATILDE PATRIZIA CHIARINI, LA LAGUNA  11.70    0.0
4  2024-06-02               PAYPAL *GLOVO, 35314369001  27.69    0.0
..        ...                                      ...    ...    ...
71 2024-06-26  TAXISTA ALEJANDRO MEDINA, LAS PALMAS DE   9.60    0.0
72 2024-06-27        CAFETERIA LOS ROSALES, LAS PALMAS   5.80    0.0
73 2024-06-27               Comisión mantenimiento año   0.00    0.0
74 2024-06-27                   EL MOMENTO, LAS PALMAS   3.50    0.0
75 2024-06-27                 BAR SALMON, PALMAS (LAS)   9.20    0.0

[76 rows x 4 columns]

In [23]:
# loader = DataLoader(transformer)
# loader.load_data_in_db()